<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Details</title>
    <script defer src="/todos.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
  </head>
  <body style="background-color: beige;">
    <%- include('../partials/_navbar.ejs') %>
    <div class="columns is-vcentered is-centered" style="height: 90vh;">
      <div class="column has-text-centered is-half">
        <h1 class="is-size-3 has-text-success-dark pb-2">Edit Trip </h1>
        <form class="box is-centered has-background-primary-dark" action="/trips/<%= selectedTrip._id %>?_method=PUT" method="POST">
          <h3 class="is-size-5 has-text-white has-text-left pl-3">Start Date : <%= selectedTrip.startDate.toDateString()%> </h3>
          <div class="field column is-full">
            <div class="control">
              <input class="input is-rounded has-background-white has-text-black" type="date" name="startDate" required/>
            </div>
          </div>
          <h3 class="is-size-5 has-text-white has-text-left pl-3">End Date: <%= selectedTrip.endDate.toDateString()%></h3>
          <div class="field column is-full">
            <div class="control">
              <input class="input is-rounded has-background-white has-text-black" type="date" name="endDate" required/>
            </div>
          </div>
          <h3 class="is-size-5 has-text-white has-text-left pl-3">Passenger Details</h3>
          <div class="field column is-full">
            <div class="control">
              <textarea class="textarea is-small has-background-white has-text-black" name="passengers"  required><%= selectedTrip.passengers %></textarea>
            </div>
          </div>
          <div class="block">
            <div id="todos"></div>
              <button class="is-size-5 has-text-white pt-3" type="button" id="addTodoButton">Add to do</button>
            </div>
              <button class="button is-success is-outlined" type="submit">Update
              </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>



  