<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1> <%= selectedTrip.countries %> </h1>
    <% countryDetails.forEach(country => { %>
    <section>
    
    <p>Capital: <%= country.capital %></p>
    <p>Population: <%= country.population %></p>
    <p>Currency: <%= country.currencies  %></p>
    </section>
    <% }) %>
    <h3>Todos:</h3>
    <a href="/itinerary">
    <div><strong>Itinerary</strong></div>
    </a>   
    <a href="/trips/edit">Update Trip</a> <br>
    <form action="/trips/<%= selectedTrip._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Trip</button>
    </form>   
</body>
</html>
